node_modules
node_modules_container
coverage
.idea
*.iml
*.ipr
*.iws
/.project
test/temp/
/docs
*debug.log*
.vscode
.vscode-test
.DS_Store
*.sw?
/test/templates/import-jdl/*.png
.git
.classpath
.factorypath
.project
.settings
test/**/*.png
test-integration/**/*.png
/dist
/demo/output

# allow customizations without having a dirty tree
.devcontainer
